.side-bar {
  width: 220px;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;

  &__content {
    width: 100%;
    height: calc(100% - 92px - 80px);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    gap: 20px;
    color: #fff;
    font-size: 14px;
    background-color: #2e2e2e;
    border-radius: 1.25rem;

    &__user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: max-content;
      gap: 20px;

      label {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.0875rem;
      }
    }

    .side-bar__menu {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 10px;
      color: #fff;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: max-content;
        align-items: center;
        gap: 10px;
        color: #fff !important;
        a{
          text-decoration: none;
          &:-webkit-any-link{
            color: #fff !important;
          }
        }

        &:hover{
          text-decoration: underline;
        }

        &__icon{
            width: 25px;
        }
      }
    }

    .side-bar__footer {
      width: 100%;
      height: 40px;
      color: #fff;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.0875rem;
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
  }

  .active{
    text-decoration: underline !important;
  }
}
