.dashboard {
  display: flex;
  flex-direction: row;
  padding: 20px;

  &__content {
    width: 100%;
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
  }
}