.table-history {
    &__header {

        .css-1ygcj2i-MuiTableCell-root,
        .css-1ndpvdd-MuiTableCell-root {
            color: #2E2E2E;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .css-1ygcj2i-MuiTableCell-root,
        .css-1ndpvdd-MuiTableCell-root {
            border-bottom: none;
        }

    }

    &__body {

        border-radius: 10px;
        background: #F0F0F0;

        .css-1ex1afd-MuiTableCell-root,
        .css-1yhpg23-MuiTableCell-root {

            color: #2E2E2E;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}