.alert {
    position: fixed;
    inset: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 450px;
        height: max-content;
        text-align: center;
        word-wrap: break-word;
        position: relative;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-radius: 20px;
        pointer-events: auto;
        padding: 60px 30px;
        color: #2E2E2E;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;

        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
}