.input-field {
  align-items: flex-start;
  border: 12px none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 37px;
  min-width: 431px;
  width: 100%;
  padding: 8px 12px;

  &__label {
    color: var(--neutrals-900, #0f0f0f);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.05rem; /* 128.571% */
    letter-spacing: -0.00875rem;
  }

  &__input {
    font-size: 1.05rem;
    font-weight: 400;
  }
}
